:root {
  --color-primary: #87cca5;
  --color-primary-light: #c3e5d2;

  --color-error: #ff0000;

  --color-black: #000;
  --color-white: #fff;
  --color-white-1: rgba(255, 255, 255, 0.2);
  --color-grey: rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  padding: 2.5rem;
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: sans-serif;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* COMPONENTS */
.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid var(--color-primary);
  border-bottom-color: var(--color-white);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  padding: 5rem 4rem;

  p {
    color: var(--color-error);
    font-size: 1.8rem;
  }
}

.no-movies {
  padding: 5rem 4rem;

  p {
    font-size: 1.8rem;
  }
}

/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 5rem 6rem;
}

.heading-primary {
  margin-bottom: 4rem;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--color-primary-light)),
    to(var(--color-primary))
  );
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary)
  );
  color: transparent;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.heading-primary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
}

.search {
  width: 60%;
}

.search__field {
  width: 100%;
  height: 4.6rem;
  padding: 1rem 2rem;
  border-radius: 30rem;
  border: 0;
  color: var(--color-grey);
  font-size: 1.5rem;
}

.search__field:focus-visible {
  outline: none;
}

/* MAIN CONTENT */
.movie {
  max-width: 70rem;
  margin: 0 3rem 5rem;
  border: 1px solid var(--color-white-1);
  border-radius: 0.7rem;
  font-size: 1.8rem;
  cursor: pointer;
}

.movie_content {
  display: flex;
}

.movie__picture {
  height: 30rem;
  border-bottom: 1px solid var(--color-white-1);
}

.movie__title {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}

.movie__main {
  padding: 1rem 2rem;
}

.movie__info {
  margin-bottom: 3rem;
}

.movie__row {
  display: flex;
  margin-bottom: 0.8rem;
}

.movie__description {
  font-size: 1.5rem;
}

.movie__details {
  overflow: hidden;
  transition: height 0.3s ease-out;
  height: auto;
}

.bottom-loader {
  transform: translateY(100%);
  opacity: 0;
  font-size: 2rem;

  &.show {
    transform: translateY(0);
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.2s ease-out;
  }
}
