:root {
  --color-error: #ff0000;

  --color-black: #000;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  padding: 2.5rem;
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: sans-serif;
}

/* COMPONENTS  */
.error {
  padding: 5rem 4rem;

  p {
    color: var(--color-error);
    font-size: 1.8rem;
  }
}
